# Python 生成的文件
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.pytest_cache/

# 虚拟环境
.venv

# 其他
.pytest_cache/
.ruff_cache/

# custom exclude
.agents/
.codex/
.claude/
hiduck/

AGENTS.md
CLAUDE.md
